*{
    padding: 0;
    margin: 0;
}
.movie-card-container {
    max-width:800px;
    padding: 20px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 150px;
    cursor: pointer;
}
.full-background {
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}