*{
    padding: 0;
    margin: 0;
    font-family: Lato;
    color:white;
}
body {
    font-size: 16px;
}

.overflow-Gradient {
    background: linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%);
    height: 100%;
}
.movie-card-container {
    max-width:1000px;
    padding: 20px;
    margin: 0 auto;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}
.logo {
    width: 150px;
    cursor: pointer;
}
.inputSearch input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 1rem;
    height: fit-content;
    width: 100%;
}
.cardWrapper {
    border-radius: 2px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 20px;
    background-color:black;
}
.cardWrapper .movieImageWrapper img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.full-background {
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.movieData {
    padding: 20px;
}
.movieTitle {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.movieDescription {
    font-size: 1rem;
    line-height: 1.5;
}
.movieAdittionalDetails {
    margin-top: 2em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.movieAdittionalDetails .additionalDetailsGroup:first-child {
    grid-area: 1 / 1 / auto / span 2;
}
.detailTitles {
    color: #00FC87;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: 'Oswald';
}
.detailSubtitles {
    font-size: 1.1rem;
    color:white;
    font-weight: 700;
    font-family: 'Oswald';
}
.footer {
    width: fit-content;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.footer .footerLink {
    padding: 8px;
    transition: 0.7s;
    color: gray;
}
.footer .footerLink:hover {
    color:#00FC87;
}
@media screen and (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
        text-align: center;
    }
    .cardWrapper {
        grid-template-columns: 1fr;
    }
    .movieData {
        grid-area: 1;
    }
    .full-background {
        height: auto;
    }
}

.sdsd {
    height: 200px;
    width: 100px;
    background-color: red;
}